header{
	height: 100vh;
}
header::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0,0,0,.3);
}

header>section{
	position: absolute;
	z-index: 2;
	right: 0px;
	left: 0px;
	margin-top: 150px;
	background: rgba(255,255,255,.5);
}

header>section>h1{
	font-size: 5em;
}

section{
	padding: 70px 150px;
}

#naturaleza, #servicios{
	background: #0000001c;
}

footer{
	color: white;
    background: #073356;
}

@media (max-width: 1000px) {

	section{
		padding: 30px 50px;
	}
	
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0,0,0,.9);
    background: #dee2e6;
}
