html{
    overflow-x: hidden;
}

#loading, #loading-content {    position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #ffffff; z-index: 100001;}

.dropdown-menu{
    border: none;
    border-radius: 0px;
}
#presentacion{
  background-color: #212529c9;
}
#presentacion .modal-body{
  padding: 0px;
}

#presentacion .modal-dialog{
  width: 90%;
  max-width: 850px;
  margin: 80px auto 0 auto;
}
#presentacion button.close {
    position: absolute;
    top: 15px;
    right: 25px;
    color: white;
    z-index: 4000;
    font-size: 2em;
}
.dropdown-menu > a.dropdown-item:hover{
    color: #fff !important;
    background-color: #069 !important;
}

.pagination{display:inline-block;padding-left:0;margin:22px 0;border-radius:4px}.pagination>li{display:inline}.pagination>li>a,.pagination>li>span{position:relative;float:left;padding:6px 12px;line-height:1.6;text-decoration:none;color:#3097d1;background-color:#fff;border:1px solid #ddd;margin-left:-1px}.pagination>li:first-child>a,.pagination>li:first-child>span{margin-left:0;border-bottom-left-radius:4px;border-top-left-radius:4px}.pagination>li:last-child>a,.pagination>li:last-child>span{border-bottom-right-radius:4px;border-top-right-radius:4px}.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover{z-index:2;color:#216a94;background-color:#eee;border-color:#ddd}.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{z-index:3;color:#fff;background-color:#3097d1;border-color:#3097d1;cursor:default}.pagination>.disabled>a,.pagination>.disabled>a:focus,.pagination>.disabled>a:hover,.pagination>.disabled>span,.pagination>.disabled>span:focus,.pagination>.disabled>span:hover{color:#777;background-color:#fff;border-color:#ddd;cursor:not-allowed}.pagination-lg>li>a,.pagination-lg>li>span{padding:10px 16px;font-size:18px;line-height:1.3333333}.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span{border-bottom-left-radius:6px;border-top-left-radius:6px}.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span{border-bottom-right-radius:6px;border-top-right-radius:6px}.pagination-sm>li>a,.pagination-sm>li>span{padding:5px 10px;font-size:12px;line-height:1.5}.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span{border-bottom-left-radius:3px;border-top-left-radius:3px}.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span{border-bottom-right-radius:3px;border-top-right-radius:3px}.pager{padding-left:0;margin:22px 0;list-style:none;text-align:center}.pager:after,.pager:before{content:" ";display:table}.pager:after{clear:both}.pager li{display:inline}.pager li>a,.pager li>span{display:inline-block;padding:5px 14px;background-color:#fff;border:1px solid #ddd;border-radius:15px}.pager li>a:focus,.pager li>a:hover{text-decoration:none;background-color:#eee}.pager .next>a,.pager .next>span{float:right}.pager .previous>a,.pager .previous>span{float:left}.pager .disabled>a,.pager .disabled>a:focus,.pager .disabled>a:hover,.pager .disabled>span{color:#777;background-color:#fff;cursor:not-allowed}

.navbar-dark .navbar-nav .active>.nav-link,.navbar-dark .navbar-nav .nav-link.active,.navbar-dark .navbar-nav .nav-link.show,.navbar-dark .navbar-nav .show>.nav-link{background-color: #ffffff24;}

#intro { 
  background-repeat: no-repeat; 
  background-position: center center; 
  background-size: cover
}

#intro img{ width: 50%; }

.hm-gradient .full-bg-img{
  background: linear-gradient(45deg, rgba(42, 27, 161, 0.6) 50%, rgba(29, 210, 177, 0.6) 100%);
}

#intro h1{background: rgba(255,255,255,.5); padding: 5px; width: 240px; border-left: 5px solid #006699; }

#intro h5{
  padding: 15px;
}

.navbar .navbar-brand, .navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link, .btn-f, .btn-t{
  color: #006699 !important;
}
.top-nav-collapse .navbar-brand , .top-nav-collapse.navbar.navbar-dark .navbar-nav .nav-item .nav-link, .top-nav-collapse .btn-f, .top-nav-collapse .btn-t{
  color: #fff !important;
}

.top-nav-collapse {
  background-color: #006699 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}


@media (max-width: 992px) {
  .navbar:not(.top-nav-collapse) {
    background: #006699 !important;
  }
  .navbar .navbar-brand, .navbar:not(.top-nav-collapse).navbar-dark .navbar-nav .nav-item .nav-link, .btn-f, .btn-t{
    color: #fff !important;
  }

  #intro img{
    width: 70%;
  }

  #mapa{
    width:100%;
  }

}

#intro .h6 {
  font-weight: 300;
  line-height: 1.7;
}


#pricing .lead {
  opacity: 0.7;
}


.btn-f:hover{background-color: #3b5998 !important; transition: 1s all; color: #fff !important; }
.btn-t:hover{background-color: #1da1f2 !important; transition: 1s all; color: #fff !important; }
.btn-y:hover{background-color: #ff0000 !important; transition: 1s all; color: #fff !important; }


.header-page{
  height: 300px !important;
  background-position: top;
}
.header-page>.full-bg-img.d-flex.align-items-center{
  height: 100% !important;
}

.dropdown-menu:before {
  content: "\A";
  transform: rotate(90deg);
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #ffffff transparent transparent;
  position: absolute;
  left: 20px;
  top: -12px;
}
.map-popover{
  background-color: #fff; background-clip: padding-box; border: 1px solid rgba(0,0,0,.2); border-radius: .3rem; width: 300px;
  display: none;
}

.show{
  display: inline-block !important;
}
.map-popover-header{
  margin: 0px; text-align: center; padding: 10px; font-size: 1.5rem; background-color: #f7f7f7; border-bottom: 1px solid #ebebeb; border-top-left-radius: calc(.3rem - 1px); border-top-right-radius: calc(.3rem - 1px);
}
.map-popover-header img{
  height: 50px;
}
.map-popover-body{
  padding: .5rem .75rem; color: #212529;
  text-align: center;
}

.map-popover-body a{
  font-size: 22px;
}
.map-popover-body p{
  margin: 0px;
}
.map-popover-footer{
  padding: 5px;
  border-top: 1px solid rgba(0,0,0,.125);
}

.map-popover>.card-footer{
  padding: 5px;
}
.map-popover a.card-link{
  font-size: 16px;
}

#mapa{
  width:70%;
}
.map-arrow {
  position: absolute;
  display: block;
  width: 1rem;
  height: 0.5rem;
  margin: 0 8rem;
}

.map-arrow::before, .map-arrow::after {
  position: absolute;
  display: block;
  content: "";
  border-color: transparent;
  border-style: solid;
}

.map-arrow{
  bottom: -15px;
}

.map-arrow::before,
.map-arrow::after{
  border-width: 1rem 1rem 0;
}

.map-arrow::before{
  bottom: 0;
  border-top-color: rgba(0, 0, 0, 0.25);
}

.map-arrow::after{
  bottom: 1px;
  border-top-color: #fff;
}

#noticia p {
  font-size: 1.2em;
}

@media (max-width: 450px) {
  .margins {
    margin-right: 0rem;
    margin-left: 0rem;
  }
  #intro img{
    margin-top: 50px !important;
    width: 90%;
  }
  #intro h5{
    font-size: 16px;
  }
  #mapa{
    width: 100%;
  }
  #intro, .header-page{
      background-position: left !important;    
  }

  .map-popover{
    width: 200px;
  }

  .map-popover-header{
    padding: 5px; font-size: 1.1rem;
  }
  .map-popover-header img{
    height: 30px;
  }
  .map-popover-body{
    padding: .1rem;
  }

  .map-popover-body a, .map-popover-body p, .map-popover a.card-link{
    font-size: 14px;
  }
  .map-popover-footer{
    padding: 3px;
  }

}